* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f0f0f0;
}

h1 {
  background-color: #081b31;
  height: 6rem;
  line-height: 6rem;
  color: white;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
  background-color: #914d76;
  border-radius: 20px;
  padding: 3rem 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.choice {
  height: 165px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.choice:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

img:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
  font-size: 2rem;
  background-color: #f2c94c;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.msg-container {
  margin-top: 4rem;
  font-size: 2rem;
  color: white;
  background-color: #1d3fa2;
  padding: 1rem;
  border-radius: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.msg-container p {
  margin: 0;
}

